doctype
html(lang="ru")
	include ../blocks/_head/_head.pug
	+head('Главная')

	body
		.sprite
			//- include ../../public/assets/sprite.svg

		include ../blocks/_mixins/_svgElement.pug


		h1.visually-hidden Grand School - школа в которой вы приобретаете реальный опыт, который поможет преуспеть в работе и бизнесе.


		include ../blocks/header/header.pug
		

		include ../blocks/about/about.pug
		include ../blocks/directions/directions.pug
		include ../blocks/cooperation/cooperation.pug
		include ../blocks/resourses/resourses.pug
		include ../blocks/team/team.pug
		include ../blocks/partners/partners.pug

		section.module.legalInfo
			div.container.legalInfo__container
				include ../blocks/documents/documents.pug
				include ../blocks/supporters/supporters.pug

		include ../blocks/subscription/subscription.pug

		
		include ../blocks/footer/footer.pug



		include ../blocks/_mixins/_scripts.pug
		include ../blocks/_mixins/_styles.pug
		+styles('plugins')
		+scripts('plugins', 'main')
