section.module.partners
	.container.partners__container
		h2.heading.partners__heading С нами работают

	.partners__list.splide
		.splide__track
			.splide__list
				.partners__item.splide__slide
					img(src="https://via.placeholder.com/300x45?text=Сбербанк", alt="").partners__img
				.partners__item.splide__slide
					img(src="https://via.placeholder.com/300x45?text=Газпромбанк", alt="").partners__img
				.partners__item.splide__slide
					img(src="https://via.placeholder.com/300x45?text=Газпром", alt="").partners__img
				.partners__item.splide__slide
					img(src="https://via.placeholder.com/300x45?text=Альфа-Банк", alt="").partners__img
				.partners__item.splide__slide
					img(src="https://via.placeholder.com/300x45?text=УралСиб", alt="").partners__img
				.partners__item.splide__slide
					img(src="https://via.placeholder.com/300x45?text=Теле2", alt="").partners__img
				.partners__item.splide__slide
					img(src="https://via.placeholder.com/300x45?text=Полюс", alt="").partners__img
				.partners__item.splide__slide
					img(src="https://via.placeholder.com/300x45?text=Норникель", alt="").partners__img
				.partners__item.splide__slide
					img(src="https://via.placeholder.com/300x45?text=Этажи", alt="").partners__img
				.partners__item.splide__slide
					img(src="https://via.placeholder.com/300x45?text=Регистратор_Интрако", alt="").partners__img
				.partners__item.splide__slide
					img(src="https://via.placeholder.com/300x45?text=Полиметалл", alt="").partners__img
				.partners__item.splide__slide
					img(src="https://via.placeholder.com/300x45?text=Колымская_Россыпь", alt="").partners__img
				.partners__item.splide__slide
					img(src="https://via.placeholder.com/300x45?text=и_т.д.", alt="").partners__img
