.teamPerson
	background pale3
	border-radius 16px
	position relative
	margin-top 80px
	padding 96px 32px 28px
	display flex
	flex-direction column

.teamPerson__photo
	display block
	width 160px
	height 160px
	object-fit cover
	border-radius 16px
	position absolute
	left 32px
	top -80px

.teamPerson__name
	width 170px
	margin 0 0 16px
	font-weight 500
	font-size 24px
	line-height 32px

.teamPerson__post
	font-weight 400
	font-size 18px
	line-height 28px
	color pale

.teamPerson__contacts
	margin-top auto
	padding-top 48px

.teamPerson__contact
	display flex
	align-items center
	font-weight 400
	font-size 18px
	line-height 28px
	text-decoration none
	color olive

	& + &
		margin-top 16px

	svg
		margin-right 8px

	b
		margin-left .5ch
