section.supporters
	h2.heading.supporters__heading Работаем при поддержке

	ul.supporters__list
		li.supporters__item 
			img(src="https://via.placeholder.com/350x100?text=Банк_России", alt="")
		li.supporters__item 
			img(src="https://via.placeholder.com/310x100?text=Министерство_науки", alt="")
		li.supporters__item 
			img(src="https://via.placeholder.com/400x100?text=РосФинМониторинг", alt="")
		li.supporters__item 
			img(src="https://via.placeholder.com/176x100?text=МУМЦОМ", alt="")
