.about__container
	display grid
	grid-template-columns 1fr 752px
	grid-column-gap 64px

.about__heading
	font-weight 800
	font-size 64px
	line-height 76px
	margin 0 0 32px
	grid-column 1/3

.about__text
	grid-column 1/2

	p
		font-weight 400
		font-size 22px
		line-height 36px
		margin 0

		& + p
			margin-top 1em

.about__licenses
	grid-column 2/3
	display flex

.about__license
	& + &
		margin-left 32px
