section.module.about
	.container.about__container
		h2.about__heading О нас

		.about__text 
			p Один из ведущих учебных центров России. Работаем с 2006 года, за это время обучили больше 10 000 человек по 60 образовательным программам.
			p Наши спикеры — профессиональная команда экспертов, специалистов и практиков, общение с которыми позволит вам не только получить полезные знания, но и перенять многолетний опыт.
			p Официальный партнёр «Международного учебно-методического центра финансового мониторинга» (МУМЦФМ).
			p Мы предлагаем пути решения проблем с практической точки зрения, не ограничиваясь теорией и сухим законодательством.
			p Обучаясь в «Grand School» вы приобретаете реальный опыт, который поможет преуспеть в работе и бизнесе.

		.about__licenses
			include ../licenseItem/licenseItem.pug
			+licenseItem([], 'about__license', 'Лицензия в полном размере')
			+licenseItem([], 'about__license', 'Соглашение с МУМЦФМ')
