.btn
	font-weight 600
	font-size 18px
	line-height 28px
	text-decoration none
	color primary
	background secondary
	border-radius 8px
	transition 0.6s
	padding 9px 24px
	display inline-flex
	align-items center

	&:hover
		color primaryDark

	&:active
		background pale3
		color primaryDark

	svg
		margin-right 12px

	&--white
		background white

		&:hover
			color primaryDark

		&:active
			color olive

	&--large
		padding 16px 32px

	&--fullWidth
		display flex
		align-items center
		justify-content center
		width 100%
