.search__input
	display block
	width 100%
	font-weight 400
	font-size 18px
	line-height 28px
	color pale
	border 1px solid pale2
	border-radius 8px
	padding 8px 44px
	background-position 16px center
	background-repeat no-repeat
	background-image url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 13C3.68629 13 1 10.3137 1 7C1 3.68629 3.68629 1 7 1C10.3137 1 13 3.68629 13 7C13 10.3137 10.3137 13 7 13Z' stroke='%235D647D' stroke-width='1.2' stroke-linejoin='round'/%3E%3Cpath d='M11.5 11.5L16 16' stroke='%235D647D' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
