.cooperation__list
	display grid
	grid-template-columns repeat(3, 1fr)
	grid-column-gap 23px

.cooperation__img
	display block
	object-fit cover
	border 1px solid #F6F8FA
	border-radius 16px

.cooperation__link
	margin-top 12px
	font-weight 600
	font-size 18px
	line-height 28px
	color primary
	text-decoration none
	display inline-flex
	align-items center

	svg
		margin-left 7px
