.directionItem
	background pale3
	border-radius 16px
	display flex
	align-items center
	justify-content space-between
	padding 18px 18px 18px 32px

	&--withIcon
		padding-left 24px

.directionItem__name
	font-weight 500
	font-size 24px
	line-height 32px
	display flex
	align-items center

	svg
		margin-right 12px
		fill pale

.directionItem__link
	flex-shrink 0
	margin-left 16px
