mixin socials(modificator, extraClasses)
	- classList = 'socials'

	if modificator
		each mod in modificator
			- classList = classList + ' socials--' + mod

	if extraClasses
		- classList = classList + ' ' + extraClasses

	ul(class=classList)
		li.socials__item 
			a(href="#" aria-label="Подписывайтесь на нас в Телеграме").socials__link 
				<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="60" height="60" rx="8" fill="var(--secondary)"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M49 30C49 40.4934 40.4934 49 30 49C19.5066 49 11 40.4934 11 30C11 19.5066 19.5066 11 30 11C40.4934 11 49 19.5066 49 30ZM30.6808 25.0266C28.8328 25.7952 25.1393 27.3862 19.6004 29.7994C18.701 30.157 18.2298 30.5069 18.1869 30.8491C18.1144 31.4273 18.8386 31.655 19.8246 31.965C19.9587 32.0072 20.0977 32.0509 20.2402 32.0972C21.2103 32.4126 22.5152 32.7815 23.1936 32.7962C23.809 32.8094 24.4958 32.5557 25.2541 32.0351C30.4293 28.5417 33.1007 26.776 33.2684 26.7379C33.3867 26.711 33.5507 26.6773 33.6618 26.776C33.7729 26.8748 33.762 27.0618 33.7502 27.1119C33.6785 27.4177 30.8361 30.0603 29.3652 31.4278C28.9066 31.8541 28.5814 32.1565 28.5149 32.2255C28.3659 32.3802 28.2141 32.5266 28.0682 32.6672C27.167 33.536 26.4911 34.1876 28.1056 35.2515C28.8815 35.7628 29.5024 36.1856 30.1218 36.6074C30.7982 37.0681 31.4729 37.5275 32.3458 38.0997C32.5682 38.2455 32.7806 38.397 32.9875 38.5444C33.7747 39.1057 34.4819 39.6098 35.3557 39.5294C35.8634 39.4827 36.3878 39.0053 36.6542 37.5815C37.2836 34.2166 38.5208 26.9258 38.8068 23.9215C38.8318 23.6582 38.8003 23.3214 38.775 23.1735C38.7497 23.0256 38.6968 22.8149 38.5046 22.659C38.2769 22.4742 37.9255 22.4353 37.7683 22.4381C37.0537 22.4506 35.9573 22.8319 30.6808 25.0266Z" fill="var(--primary)"/>
				</svg>
		li.socials__item 
			a(href="#" aria-label="Подписывайтесь на нас Вконтакте").socials__link 
				<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="60" height="60" rx="8" fill="var(--secondary)"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M14.5306 14.5306C12 17.0612 12 21.1341 12 29.28V30.72C12 38.8659 12 42.9388 14.5306 45.4694C17.0612 48 21.1341 48 29.28 48H30.72C38.8659 48 42.9388 48 45.4694 45.4694C48 42.9388 48 38.8659 48 30.72V29.28C48 21.1341 48 17.0612 45.4694 14.5306C42.9388 12 38.8659 12 30.72 12H29.28C21.1341 12 17.0612 12 14.5306 14.5306ZM18.0751 22.9501C18.27 32.3101 22.95 37.935 31.155 37.935H31.6201V32.58C34.6351 32.88 36.915 35.0851 37.8299 37.935H42.0901C40.9201 33.6751 37.8449 31.32 35.9249 30.42C37.8449 29.3101 40.5449 26.6101 41.1899 22.9501H37.3198C36.4798 25.9201 33.9901 28.62 31.6201 28.875V22.9501H27.75V33.33C25.35 32.7301 22.32 29.8201 22.185 22.9501H18.0751Z" fill="var(--primary)"/>
				</svg>
		li.socials__item 
			a(href="#" aria-label="Подписывайтесь на нас на Яндекс Дзене").socials__link
				<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="60" height="60" rx="8" fill="var(--secondary)"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M33.4714 33.4714C30.6429 36.39 30.45 40.0286 30.1929 48C37.6243 48 42.7543 47.9743 45.4029 45.4029C47.9743 42.7543 48 37.38 48 30.1929C40.0286 30.45 36.39 30.6429 33.4714 33.4714ZM29.8071 48C22.3757 48 17.2457 47.9743 14.5971 45.4029C12.0257 42.7543 12 37.38 12 30.1929C19.9714 30.45 23.61 30.6429 26.5286 33.4714C29.3571 36.39 29.55 40.0286 29.8071 48ZM26.5286 26.5286C23.61 29.3571 19.9714 29.55 12 29.8071C12 22.62 12.0257 17.2457 14.5971 14.5971C17.2457 12.0257 22.3886 12 29.8071 12C29.55 19.9714 29.3571 23.61 26.5286 26.5286ZM30.1929 12C30.4371 19.9714 30.6429 23.61 33.4714 26.5286C36.39 29.3571 40.0286 29.55 48 29.8071C48 22.62 47.9743 17.2457 45.4029 14.5971C42.7543 12.0257 37.6243 12 30.1929 12Z" fill="var(--primary)"/>
				</svg>
		li.socials__item 
			a(href="#" aria-label="Подписывайтесь на нас на Ютубе").socials__link 
				<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="60" height="60" rx="8" fill="var(--secondary)"/>
					<path d="M49.1761 20.3822C48.7148 18.6689 47.3639 17.318 45.6506 16.8567C42.5205 16 29.9999 16 29.9999 16C29.9999 16 17.4794 16 14.3492 16.8237C12.6689 17.285 11.285 18.6689 10.8237 20.3822C10 23.5123 10 30.0032 10 30.0032C10 30.0032 10 36.5271 10.8237 39.6243C11.285 41.3376 12.6359 42.6885 14.3492 43.1498C17.5123 44.0065 29.9999 44.0065 29.9999 44.0065C29.9999 44.0065 42.5205 44.0065 45.6506 43.1828C47.3639 42.7215 48.7148 41.3706 49.1761 39.6572C49.9998 36.5271 49.9998 30.0362 49.9998 30.0362C49.9998 30.0362 50.0328 23.5123 49.1761 20.3822ZM26.0131 35.9999V24.0066L36.4249 30.0032L26.0131 35.9999Z" fill="var(--primary)"/>
				</svg>
