.license__link
	text-decoration none
	background pale3
	border-radius 16px
	display block
	padding 54px 36px 36px

.license__img
	display block
	margin 0 auto
	object-fit contain

.license__name
	margin-top 20px
	font-weight 600
	font-size 18px
	line-height 28px
	color primary
	text-align center
	display flex
	align-items center

	svg
		margin-left 7px
