.subscription__container
	padding 32px
	border-radius 32px
	overflow hidden
	position relative
	background url('../assets/form.svg') 779px 0px no-repeat pale3

	&::before
		content ''
		position absolute
		left 747px
		top 0
		width 1px
		height 100%
		background pale2

.subscription__wrapper
	width 683px

.subscription__heading
	margin 0 0 24px
	font-weight 500
	font-size 24px
	line-height 32px

.subscription__input
	border 1px solid pale2
	border-radius 8px
	display block
	width 100%
	padding 16px
	font-weight 400
	font-size 18px
	line-height 28px
	color pale
	box-shadow none

	& + &
		margin-top 12px

.subscription__submit
	margin-top 24px
	border none
